@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans');

body {
  font-family: 'Work Sans', sans-serif !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container-fluid {
  padding-top:50px;
}

.showcard{
  height:330px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.showcard h3 {
  font-size:1em;
  color: #221e1e;
}

.showcard a:hover {
  text-decoration:none;
}

.showcard p {
  font-size:1em;
  color: #221e1e;
}

.showcard:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.coreinfo-detail {
  padding-top:15px;
}

span.year {
  font-size:80%;
  color: #757575;
}

.coreinfo-detail h2 {
  margin-top:0;
  margin-bottom:2px;
}

.coreinfo-image-container {
  padding:15px;
}

.image-responsive {
  width:100%;
  max-width:350px;
  max-height:500px;
}

.rating {
  width:60px;
  height:60px;
  display: flex;
  align-items: center;
  border-radius:50%;
  background-color:grey;
}

.rating.high {
  background-color:#4CAF50;
}

.rating.medium {
  background-color:#FF9800;
}

.rating.low {
  background-color:#F44336;
}

.rating p {
  font-size:28px;
  margin: 0 0 0 15px;
  font-weight:bold;
  color:white; 
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.coreInfo-side {
  padding-top:15px;
}

.cast-member {
  min-height: 85px;
  border: 1px solid #DAD6D6;
}

.cast-member-name h4 {
  font-size:12px;
  font-weight:bold;
  margin-bottom:3px;
}

.cast-member-name p {
  font-size:8px;
}
