@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #fff;
}
.root-body {
  padding-top:64px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.MoviePage {
  background-color: #eee;
}

container {
  margin-top:25px;
  background-color: #eee;
}

.container-fluid {
  padding-top:50px;
}

.showcard {
  background-color: #fff;
  height:330px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.showcard h3 {
  font-size:1em;
  color: #221e1e;
}

.showcard a:hover {
  text-decoration:none;
}

.showcard p {
  font-size:1em;
  color: #221e1e;
}

.showcard:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.CoreInfo {
  padding: 32px 32px;
  margin-top:16px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.coreinfo-detail {
  padding-top:15px;
}

.CoreInfo__title {
  font-weight: bold;
  margin-top:0;
  margin-bottom:2px;
}

.CoreInfo__title span {
  font-weight: normal;
}

.CoreInfo__side {
  padding-top:15px;
}

.CoreInfo__genreList {
  font-size:20px;
}

.MediaDetails {
  margin-top:8px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
}

.MovieDetails__detail {
  margin:0;
  font-weight: bold;
}

.coreinfo-image-container {
  padding:15px;
}

.image-responsive {
  width:100%;
  max-width:350px;
  max-height:500px;
}

.rating {
  width:60px;
  height:60px;
  display: flex;
  align-items: center;
  background-color:grey;
}

.rating.high {
  background-color:#4CAF50;
}

.rating.medium {
  background-color:#FF9800;
}

.rating.low {
  background-color:#F44336;
}

.rating p {
  font-size:28px;
  margin: 0 auto;
  font-weight:bold;
  color:white;
}

.CastSection {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding:32px;
}

.CastMember__card {
  min-height: 100px;
  border: 1px solid #DAD6D6;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}

.CastMember__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.CastMember__name h4 {
  font-size:12px;
  font-weight:bold;
  margin-bottom:3px;
}

.CastMember__name p {
  font-size:8px;
  padding:4px;
}

.CastMember__card img {
  padding:0 15px;
}

*:before, *:after {
  content: '';
}

.person-row {
  border-bottom:1px solid rgb(224, 224, 224);
  margin-top:0
}

.person-row:hover {
  background-color: rgb(235, 233, 233);
  cursor:pointer;
}

.person-row h3 {
  margin-bottom:0;
}

.person-row img {
  padding-top:4px;
  border-radius:10%;
}

a.person-anchor {
  text-decoration: none;
  color:#221e1e;
}

.label {
  margin-right:8px;
}

span.label.label-default {
  border-radius: 0;
  cursor: pointer;
}

span.label.label-default:hover {
  background-color: #BBB
}

.navbar {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .CoreInfo__genreList {
    font-size:16px;
  }
}

@media only screen and (max-width: 400px) {
  .CoreInfo__genreList {
    font-size:12px;
  }
}
