.image-responsive {
    width:100%;
    max-width:350px;
    max-height:500px;
}

.label {
    margin-right:8px;
}
  
span.label.label-default {
    border-radius: 0;
    cursor: pointer;
}
  
span.label.label-default:hover {
    background-color: #BBB
}